@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
.main {
    margin: auto;
    background-color: rgb(14, 65, 109);
}

.header {
    width: 100%;
    height: 250px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accueil {
    background-image: url("../images/escaladeFemme.jpg");
}

.calendar {
    background-image: url("../images/ifsc.jpg");
}

.diaporama {
    background-image: url("../images/bouldercomp.jpg");
}

.bloc {
    background-image: url("../images/bloc.jpeg");
}

.moulinette {
    background-image: url("../images/toprope.jpg");
}

.lead {
    background-image: url("../images/leadHeader.jpg");
}

.about {
    background-image: url("../images/programmation.jpeg");
}


.headerTitle {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 50px;
    color: white;
    font-size: 70px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.siteIcon {
    background-image: URL('../images/favicon.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    margin-left: 8px;
}

.content li {
    margin-left: 30px;
}

.content h1 {
    text-transform: capitalize;
    text-align:center;
    color: rgb(253, 198, 46);
    font-size: 40px;
    margin: 10px;
}

.content {
    font-family: Roboto, sans-serif;
    padding: 15px;
    margin: 0 50px;
    background-color: white;
}

.content p {
    text-align: justify;
    padding-top: 15px;
    padding-bottom: 15px;
}

.content a{
    text-decoration: none;
    color: rgb(253, 198, 46);
}

.content a:hover {
    color: rgb(39, 161, 231);
}

.contentAbout {
    display: flex;
    flex-wrap: wrap;
}

audio {
    display: flex;
    align-self: center;
    width: 50%;
    margin: 20px auto 20px auto;
}

.description {
    margin: auto;
    margin-top: 0;
    width: 100%;
}

.description h2 {
    text-align: center;
    color:rgb(50, 50, 50);
}

.auteur {
    width: 30%;
    height: 30%;
    object-fit: cover;
    border-radius: 100%;
    border: 5px solid rgb(50, 50, 50);
    margin: auto;
}

.difficulty {
    border: 2px solid rgb(50, 50, 50);
    border-collapse: collapse;
    text-align: center;
    margin: auto;
    background-color:white;
    margin-top: 5px;
    margin-bottom: 20px;
}

.difficulty td, th {
    border: 2px solid rgb(50, 50, 50);
    padding: 5px;
    color: black;
}

.difficulty th {
    color:rgb(253, 198, 46);
    background-color: rgb(95, 95, 95);
}

.image {
    display: flex;
    justify-content: center;
}

.image img{
    width: 50%;
    border-radius: 10px;
    border: 5px solid rgb(50, 50, 50);
}

.footer {
    background-color: rgb(50, 50, 50);
    color: white;
    font-family: "Montserrat";
    padding: 5px;
    text-align: center;
}

@media screen and (min-width:1200px) { 
    iframe{height: 700px;}
    .content {
        padding: 15px 100px;
    }
}

@media screen and (min-width:800px) {
    .header {
        height: 450px;
    }
    .auteur {
        border: 10px solid rgb(50, 50, 50);
        margin: 0 50px;
    }
    .description {
        width: 50%;
    }
}

@media screen and (max-width:1200px) {
    iframe{
        height: 500px;
    }
}
@media screen and (max-width:800px) {
    .headerTitle {
        font-size: 40px;
    }
}

@media screen and (max-width:600px) {
    iframe{height: 300px;}
}